* {
    box-sizing: border-box;
}

.carouselFeature{
    display: flex;
    align-items: center;
    flex-direction: row;
    /* justify-content: space-between; */
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.carouselFeatureImg{
    width: 50vw;
    overflow: hidden
}

.carouselContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-height: 52rem;
    overflow: hidden;
    padding: 0 calc(4% + .75rem);
    width: 50%;
}

.carouselContentHeader{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.carouselH3{
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.1;
    max-width: 20rem;
    margin: 0;
}

.circle{
    background-color: black;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.carouselReel{
    align-items: center;
    display: flex;
    width: 100%;
}

.carouselReelScreen{
    overflow: visable;
    display: flex;
    margin: 2rem 0;
    width: 100%;
}

.swiper{
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    z-index: 1;
    cursor: grab;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
}

.card{
    background-color: rgb(241, 204, 207);
    width: 300px;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    transform: translate(0px, 0px);
    margin-right: 15px;
    height: auto;
    background-color: #f0cbce;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.5rem 1rem;
    position: relative;
}

.cardHead{
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 10
}

.cardHeadTitle{
    background: #fff;
    color: #3b3b3b;
    padding: .5rem 1.5rem .5rem;
    border-radius: 5rem;
    display: inline-block;
    font-size: .8rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0
}

.cardCircle{
    height: 2rem;
    width: 2rem;
    background-color: white;
    border-radius: 50%;
}

.cardProductImage{
    display: block;
    height: 27rem;
    max-height: 45vh;
    width: 100%;
    overflow: hidden;
    margin-top: -1rem
}

.cardProductImage img{
    width: 18rem;
    height: 22rem;
}

.cardFooter h3{
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
    max-width: 70%;
    position: relative;
    margin: 0;
}

.cardFooter{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;


    color: #3b3b3b;
    font-size: .8rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0
}

.cardPrice{
    margin: 0
}